<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PCAccessoriesShop</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PCAccessoriesShop.styles.css" asp-append-version="true" />
</head>
<body class="bg-dark text-light" style="font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/PCA_logo.png" alt="Logo" class="logo" style="height: 40px;" />
                    PC Accessories Shop
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-light"
                            asp-controller="Products" asp-action="Index">Products</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light"
                                asp-controller="Categories" asp-action="Index">Categories</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light"
                                   asp-controller="Cart" asp-action="Index">🛒 Shopping Cart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light"
                                   asp-controller="Orders" asp-action="MyOrders">My Orders</a>
                            </li>
                        }
                    </ul>

                    <ul class="navbar-nav">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="main-wrapper">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted mt-4">
        <div class="container text-center py-3">
            &copy; 2025 - PCAccessoriesShop - 
            <a asp-area="" asp-controller="Home" asp-action="Index" class="text-decoration-none text-light">Home</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
