@model PCAccessoriesShop.ViewModels.CategoryViewModel
@{
    ViewData["Title"] = "Създай категория";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Създай категория</h2>

    <div class="glass-container mx-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="text-end mt-4">
                <button type="submit" class="btn btn-success me-2">Създай</button>
                <a asp-action="Index" class="btn btn-secondary">Отказ</a>
            </div>
        </form>
    </div>
</div>
